import ReduxReqs from 'redux-reqs';
import Api from '../configs/api';

const reduxReqs = new ReduxReqs({
  prefix: '{{prefix}}'
});

reduxReqs
  .{{method}}('{{actionName}}', Api.{{requestVarName}});

export const { {{actionType}} } = reduxReqs.getCreateActions();

export default reduxReqs.getReducers();

export const watchSagas = reduxReqs.getWatchSagas();
