// import queryString from 'query-string';
import * as {{camelCaseName}}Service from '../services/{{name}}';

export default {
  namespace: '{{camelCaseName}}',
  state: {},
  subscriptions: {
    setup({history, dispatch}, onError) {
      // return history.listen( ({pathname, search}) => {
      //   const query = queryString.parse(search);
      //   if (pathname === '/') {
      //
      //   }
      // });
    }
  },
  effects: {
    *tests(action, {call, put}) {
      const testRes = yield call({{camelCaseName}}Service.getToken, '');
      yield put({
        type: 'test',
        payload: {},
      });
    },
  },
  reducers: {
    test(state, {payload}) {
      return {
        ...state,
        ...payload,
      };
    }
  },
};
