// import queryString from 'query-string';
import * as {{camelCaseName}}Service from '../services/{{name}}';


export default {
  namespace: '{{name}}',
  state: {},
  subscriptions: {
    setup({ dispatch, history }) {
      return history.listen(({ pathname, search }) => {
        // const query = queryString.parse(search);
        // if (pathname === '/test') {
        //   dispatch({type: 'fetch', payload: query});
        // }
      });
    },
  },
  effects: {
    *fetch({ payload }, { call, put }) {
      // const { data } = yield call({{camelCaseName}}Service.getData);
      // yield put({
      //   type: 'get',
      //   payload: {
      //     data,
      //   }
      // });
    },
  },
  reducers: {
    get(state, { payload }) {
      // return {
      //   ...state,
      //   payload,
      // }
    },
  },
}