import { connect } from 'dva';
import {{name}} from '../components/{{name}}';


const mapStateToProps = (state) => {
  const { app, loading } = state;

  return {
    app,
    loading,
  };
}

export default connect(mapStateToProps)({{name}});
